site_name: Bartender Docs
theme:
  name: material
  features:
    - navigation.instant
    - navigation.sections
    - navigation.expand
    - content.code.copy
markdown_extensions:
  - admonition
  - codehilite
  - toc:
      permalink: true
nav:
  - Home: index.md
  - How Bartender Works: bartender_explained.md
  - FAQ: faq.md
  - API Reference:
      - Spotify Utils: api_reference/spotify_utils.md
      - ReccoBeats Utils: api_reference/reccobeats_utils.md
